/*Layout example from http://www.456bereastreet.com/lab/developing_with_web_standards/csslayout/2-col/ */

#wrap {
    width:750px;
    margin:0 auto;
    background:#99c;
}
#header {
    padding:5px 10px;
    background:#ddd;
}
#sidebar {
    float:right;
    width:230px;
    padding:10px;
    background:#ccccff;
}
#main {
    float:left;
    width:480px;
    padding:10px;
    background:#cce5ff;
}
html {
    font-family: Arial;
    margin:0;
    padding:0;
    color:#000;
    background:#ffe6cc;
}
textarea {
    resize: vertical;
}
.inner
{
    display: inline-block;
}
.inner_story
{
    display: inline-block;
}
.inner_comment {
    display: inline-block;
}
#name{
    font-family: Impact;
    font-size :40px;
    text-align: center;
}
.box{
    color: white;
    background: #0066FF;
    word-wrap: normal;
    width: 80px;   
}
body {
    background-image: url("disruptive-health-care_3.gif");
}
#space {
	height: 10%;
}
#home {
	/* height: 20%; */ 
	/*Horiztonally and vertically centering content"*/
    color: darkslategrey;
    text-align: center;
    display: flex;
	flex-direction: column; 
	justify-content: top;
    align-items: center;
}
container .jumbotron{
	color: darkslategrey;
}
h1{
	color: darkslategrey;
}
h2{
    color: darkslategrey;
    text-align: center;
}
h3{
    font-size: 20px;
}
h4 {
    font-size: 20px;
    word-wrap:break-word;
}
p {
	color: darkslategrey;
}
.badge{
	color: #FFFFFF;
	background-color: #f49e9f;
}
.breadcrumb{
       text-align: center;
}
list-group list-group-item .badge{
    color: darkslategrey;
}
